.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.title {
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.options-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 8px 0px 25px;
    align-items: center;
}

.roles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.role-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-image: url('/assets/images/icon-grey.png');
    filter: grayscale(100%);
    cursor: pointer;
}

.role-icon.selected {
    filter: none;
}

.search-bar {
    display: flex;
    background-color: #010409;
    height: 25px;
    align-items: center;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid rgba(212, 180, 99, 0.2);
    gap: 6px;
}

.fa-magnifying-glass {
    color: #828587;
}

.search-bar input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #828587;
}

.champions {
    width: 800px;
    height: 480px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.champions ul {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

.champions ul li {
    gap: 5px;
}

.champions::-webkit-scrollbar {
    transition: all ease-in-out 0.2s;
    width: 6px;
}

.champions::-webkit-scrollbar-track {
    background: transparent;
}

.champions::-webkit-scrollbar-thumb {
    background: #785a28;
    border-radius: 4px;
}

.champions::-webkit-scrollbar-thumb:hover {
    background: #cdbe91;
}


.champion {
    width: 100px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.champion-name {
    color: #9f9a8b;
}

.champion-image{
    width: 80px;
    height: 80px;
    padding-bottom: 10px;
}

.champion-image img{
    width: 80px;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.lane {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 274.72px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.lane i {
    position: absolute;
    color: red;
}

.icon-container {
    position: relative;
}

.icon-container i {
    z-index: 6;
}

.text-box {
    position: absolute;
    z-index: 5;
    width: 150px;
    left: 0;
    top: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    transition: all ease-in-out 0.3s;
}

.icon-container:hover .text-box {
    opacity: 1;
}

@media only screen and (max-width: 800px) {
    .champions {
        width: 340px;
    }

    .team {
        width: 340px;
        flex-wrap: wrap;
    }
}