<div class="container">
    <div class="content">
        <div class="title">
            <h1 *ngIf="currentLane">DECLARE YOUR {{currentLane}}</h1>
            <h1 *ngIf="!currentLane">CONFIRM YOUR TEAM</h1>
        </div>
        <div class="options-bar">
            <div class="roles">
                <img class="role-icon" [class.selected]="selectedRole === 'Top'" (click)="selectRole('Top')"
                    src="../../../assets/images/roles/top.webp" alt="Top">
                <img class="role-icon" [class.selected]="selectedRole === 'Selva'" (click)="selectRole('Selva')"
                    src="../../../assets/images/roles/jungle.webp" alt="Selva">
                <img class="role-icon" [class.selected]="selectedRole === 'Mid'" (click)="selectRole('Mid')"
                    src="../../../assets/images/roles/mid.webp" alt="Mid">
                <img class="role-icon" [class.selected]="selectedRole === 'Atirador'" (click)="selectRole('Atirador')"
                    src="../../../assets/images/roles/bot.webp" alt="Atirador">
                <img class="role-icon" [class.selected]="selectedRole === 'Suporte'" (click)="selectRole('Suporte')"
                    src="../../../assets/images/roles/support.webp" alt="Suporte">
            </div>
            <div class="search-bar">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass fa-xs"></i>
                </div>
                <input type="text" #box (keyup)="selectSearch(box.value)" placeholder="Search">
            </div>
        </div>
        <div class="champions">
            <ul>
                <li *ngFor="let champion of getFilteredChampions()">
                    <div class="champion" (click)="sendChampToLane(champion)">
                        <div class="champion-image">
                            <img [src]="champion.image.sprite" [alt]="champion.name">
                        </div>
                        <div class="champion-name">
                            {{champion.name}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="team">
            <div class="lane" (click)="chooseLaner('TOP')">
                <div class="icon-container" *ngIf="topSelected && !isRoleMatched(topSelected, 'Top')"
                    (mouseover)="showTextBox = true" (mouseout)="showTextBox = false">
                    <i class="fa-sharp fa-solid fa-circle-exclamation fa-lg"></i>
                    <div class="text-box" *ngIf="showTextBox">Este campeão pode não ser apropriado para esta rota</div>
                </div>
                <app-champion-card [champion]="topSelected" *ngIf="topSelected"></app-champion-card>
            </div>
            <div class="lane" (click)="chooseLaner('JUNGLE')">
                <div class="icon-container" *ngIf="junglerSelected && !isRoleMatched(junglerSelected, 'Selva')"
                    (mouseover)="showTextBox = true" (mouseout)="showTextBox = false">
                    <i class="fa-sharp fa-solid fa-circle-exclamation fa-lg"></i>
                    <div class="text-box" *ngIf="showTextBox">Este campeão pode não ser apropriado para esta rota</div>
                </div>
                <app-champion-card [champion]="junglerSelected" *ngIf="junglerSelected"></app-champion-card>
            </div>
            <div class="lane" (click)="chooseLaner('MID')">
                <div class="icon-container" *ngIf="midSelected && !isRoleMatched(midSelected, 'Mid')"
                    (mouseover)="showTextBox = true" (mouseout)="showTextBox = false">
                    <i class="fa-sharp fa-solid fa-circle-exclamation fa-lg"></i>
                    <div class="text-box" *ngIf="showTextBox">Este campeão pode não ser apropriado para esta rota</div>
                </div>
                <app-champion-card [champion]="midSelected" *ngIf="midSelected"></app-champion-card>
            </div>
            <div class="lane" (click)="chooseLaner('AD')">
                <div class="icon-container" *ngIf="adSelected && !isRoleMatched(adSelected, 'Atirador')"
                    (mouseover)="showTextBox = true" (mouseout)="showTextBox = false">
                    <i class="fa-sharp fa-solid fa-circle-exclamation fa-lg"></i>
                    <div class="text-box" *ngIf="showTextBox">Este campeão pode não ser apropriado para esta rota</div>
                </div>
                <app-champion-card [champion]="adSelected" *ngIf="adSelected"></app-champion-card>
            </div>
            <div class="lane" (click)="chooseLaner('SUPPORT')">
                <div class="icon-container" *ngIf="supportSelected && !isRoleMatched(supportSelected, 'Suporte')"
                    (mouseover)="showTextBox = true" (mouseout)="showTextBox = false">
                    <i class="fa-sharp fa-solid fa-circle-exclamation fa-lg"></i>
                    <div class="text-box" *ngIf="showTextBox">Este campeão pode não ser apropriado para esta rota</div>
                </div>
                <app-champion-card [champion]="supportSelected" *ngIf="supportSelected"></app-champion-card>
            </div>
        </div>

    </div>
</div>