<div class="container">
    <div class="content">
        <div class="title">
            <h1 *ngIf="currentLane">DECLARE YOUR {{currentLane}}</h1>
            <h1 *ngIf="!currentLane">CONFIRM YOUR TEAM</h1>
        </div>
        <div class="options-bar">
            <div class="roles">
                <img class="role-icon" [class.selected]="selectedRole === 'Top'" (click)="selectRole('Top')"
                    src="../../../assets/images/roles/top.webp" alt="Top">
                <img class="role-icon" [class.selected]="selectedRole === 'Selva'" (click)="selectRole('Selva')"
                    src="../../../assets/images/roles/jungle.webp" alt="Selva">
                <img class="role-icon" [class.selected]="selectedRole === 'Mid'" (click)="selectRole('Mid')"
                    src="../../../assets/images/roles/mid.webp" alt="Mid">
                <img class="role-icon" [class.selected]="selectedRole === 'Atirador'" (click)="selectRole('Atirador')"
                    src="../../../assets/images/roles/bot.webp" alt="Atirador">
                <img class="role-icon" [class.selected]="selectedRole === 'Suporte'" (click)="selectRole('Suporte')"
                    src="../../../assets/images/roles/support.webp" alt="Suporte">
            </div>
            <div class="search-bar">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass fa-xs"></i>
                </div>
                <input type="text" #box (keyup)="selectSearch(box.value)" placeholder="Search">
            </div>
        </div>
        <div class="champions">
            <ul>
                <li *ngFor="let champion of getFilteredChampions()">
                    <div class="champion" (click)="sendChampToLane(champion)">
                        <div class="champion-image">
                            <img src={{champion.image.sprite}} alt={{champion.name}}>
                        </div>
                        <div class="champion-name">
                            {{champion.name}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="team">
            <div class="lane" (click)="chooseLaner('TOP')">
                <app-champion-card [champion]="topSelected" *ngIf="topSelected != undefined" />
            </div>
            <div class="lane" (click)="chooseLaner('JUNGLE')">
                <app-champion-card [champion]="junglerSelected" *ngIf="junglerSelected != undefined" />
            </div>
            <div class="lane" (click)="chooseLaner('MID')">
                <app-champion-card [champion]="midSelected" *ngIf="midSelected != undefined" />
            </div>
            <div class="lane" (click)="chooseLaner('AD')">
                <app-champion-card [champion]="adSelected" *ngIf="adSelected != undefined" />
            </div>
            <div class="lane" (click)="chooseLaner('SUPPORT')">
                <app-champion-card [champion]="supportSelected" *ngIf="supportSelected != undefined" />
            </div>
        </div>
    </div>
</div>