<div class="container">
    <div class="linkedin">
        <div class="linkedin-image">
            <a href="https://www.linkedin.com/in/renatomcc/" target="_blank">
                <i class="fa-brands fa-linkedin fa-2xl"></i>
            </a>
        </div>
    </div>
    <div class="title">
        <span>League of Legends</span>
        <span>Team Builder</span>
    </div>
    <div class="github">
        <div class="github-image">
            <a href="https://www.github.com/renatomcc" target="_blank">
                <i class="fa-brands fa-github fa-2xl"></i>
            </a>
        </div>
    </div>
</div>